/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-gap {
  row-gap: 1rem;
}

#app {
    display: grid;
    grid-template-columns: minmax(auto, 35rem);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "top"
      "guesses"
      "hintcontrols";
    row-gap: 1rem;
    margin: 0rem 1rem;
}

#top-area {
  grid-area: top;
  text-align: center;
}
#top-area h1 {
  font-size: 1.5rem;
}

#feedback-area {
  grid-area: guesses;
  overflow-y: auto;
  border-top: none;
  flex-direction: column-reverse;
}

#hint-controls {
  grid-area: hintcontrols;
  margin: 1rem 1rem;
}

#guess-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

#composer-shower {
  cursor: pointer;
}

.feedback-table {
  border-spacing: 2rem 0rem;
}

.feedback-table td {
  text-align: center;
}

.feedback-table th {
  font-weight: 100;
  font-size: small;
}

.feedback-table td.wrong-guess::after {
  content: ' ≠ 🎯';
}
.feedback-table td.too-early::after {
  content: ' < 🎯';
}
.feedback-table td.too-late::before {
  content: '🎯 < ';
}
.feedback-table td.too-late::after {
  content: none;
}

.feedback-table td.correct-guess::before {
  content: '✔︎ ';
  font-size: larger;
  color: rgb(39, 163, 39);
}

.wrong-guess {
  color: rgb(131, 47, 47);
}

.correct-guess {
  color: rgb(37, 114, 37);
}

.hide {
  display: none!important;
}

.triangle {
  font-size: larger;
  margin-right: 0.5rem;
}

.feedback-row {
  display: grid;
  grid-template-columns: 48px 1fr;
  column-gap: 10px;
  width: 100%;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

#input-row, #hint-row {
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;
  row-gap: 8px;
  width: 100%;
  justify-content: center;
}

#input-row > input {
  width: 18ch;
}
#input-row > button {
  width: 32ch;
}


#composer-picture {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}


button {
  box-shadow:
  inset 0px 1px 0px 0px #ffffff;
  background:
  linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color:#ededed;
  border-radius:12px;
  border:1px solid #dcdcdc;
  cursor:
  pointer;
  color:#1e1e1e;
  font-family: Verdana;
  font-size:16px;
  padding:6px 24px;
  text-decoration:
  none;
  text-shadow:0px 1px 0px #ffffff;
  height: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
button:hover {
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color:#dfdfdf;
}
button:active {
  position:relative;
  top:1px;
}
button:disabled {
  color:#7777
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  /* display: block; */
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

#modal-overlay {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
}

#stats-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid rgb(246, 247, 248);
  background-color: white;
  box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
  max-width: 30rem;
  z-index: 1001;
}

#stats-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 4rem;
}

.stat > div {
  margin: 0rem 0.5rem;
}

.stat > div:first-child {
  font-size: 34px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
  font-variant-numeric: proportional-nums;
  line-height: 36px;
  width: 100%;
}

.stat > div:last-child {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 14px;
  letter-spacing: 0.1em;
  width: 75%;
}

#stats-close-button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

#show-stats-button {
  cursor: pointer;
}
